HTTP/1.1 200 OK
Connection: keep-alive
Content-Length: 4465
Content-Type: text/css
Last-Modified: Fri, 16 Sep 2022 03:12:44 GMT
ETag: W/"6323e9ac-6b42"
X-XSS-Protection: 1
X-Content-Type-Options: nosniff
Referrer-Policy: no-referrer-when-downgrade
X-FW-Server: Flywheel/5.1.0
X-FW-Hash: mdth4o22e1
Cache-Control: public, max-age=31536000
Content-Encoding: gzip
X-FW-Version: 5.0.0
Server: Flywheel/5.1.0
X-Cacheable: YES
Fastly-Restarts: 1
Accept-Ranges: bytes
Date: Sat, 24 Sep 2022 07:59:33 GM